<section class="wr-faq">
  <div class="container">
    <div class="row flex-column align-items-center">
      <h2 class="main-title">Вопросы и ответы</h2>
      <div id="accordion" class="faq col col-lg-8">
        <div class="faq__item">
          <button class="faq__btn d-flex align-items-center justify-content-between collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Как это работает?
            <span class="faq__btn-icon"></span>
          </button>      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="faq__content">
              Нет. Из-за низкой стоимости работ нельзя поменять договор или отдельные условия сервиса.            </div>
          </div>
        </div>
        <div class="faq__item">
          <button class="faq__btn d-flex align-items-center justify-content-between collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Можно ли изменить условия?
            <span class="faq__btn-icon"></span>
          </button>      
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="faq__content">
              Нет. Из-за низкой стоимости работ нельзя поменять договор или отдельные условия сервиса.            </div>
          </div>
        </div>
        <div class="faq__item">
          <button class="faq__btn d-flex align-items-center justify-content-between collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Сколько мне заплатят за фотографии?
            <span class="faq__btn-icon"></span>
          </button>      
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="faq__content">
              Нет. Из-за низкой стоимости работ нельзя поменять договор или отдельные условия сервиса.            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
