<footer class="footer">
  <div class="container">
    <div class="row flex-column flex-lg-row align-items-start justify-content-between">
      <p class="footer__copyright">© 2020 insprint</p>
      <ul class="footer__menu footer__list">
        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Как это работает?</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Фотографы</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Цены</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Доставка и оплата</a></li>
      </ul>
      <ul class="footer__contact footer__list">
        <li class="footer__contact-item"><a href="info@insprint.co" class="footer__contact-link">info@insprint.co</a></li>
        <li class="footer__contact-item">
          <a href="tel:+7 (916) 857 89 78" class="footer__contact-link">+7 (916) 857 89 78</a></li>
      </ul>
      <ul class="footer__social footer__list d-flex align-items-center">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link footer__social-insta d-flex align-items-center justify-content-center">
            <svg class="footer__social-icon">
              <use xlink:href="./svg/sprite.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link footer__social-fb d-flex align-items-center justify-content-center">
            <svg class="footer__social-icon">
              <use xlink:href="./svg/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link footer__social-vk d-flex align-items-center justify-content-center">
            <svg class="footer__social-icon">
              <use xlink:href="./svg/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link footer__social-twitter d-flex align-items-center justify-content-center">
            <svg class="footer__social-icon">
              <use xlink:href="./svg/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="./js/main.js"></script>
