<section class="wr-gallery">
  <div class="container">
    <div class="row flex-column align-items-center">
      <h2 class="main-title">5000 фотографов уже с нами</h2>
    </div>
    <div class="gallery__slider">
      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg1">
            <img class="slide__avatar" srcset="./img/slider/people1_2x.png 2x ,./img/slider/people1_3x.png 3x"
              src="./img/slider/people1.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Александра Селезнева</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>
      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg2">
            <img class="slide__avatar" srcset="./img/slider/people2_2x.png 2x ,./img/slider/people2_3x.png 3x"
              src="./img/slider/people2.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Виктор Кострицкий</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>
      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg3">
            <img class="slide__avatar" srcset="./img/slider/people3_2x.png 2x ,./img/slider/people3_3x.png 3x"
              src="./img/slider/people3.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Юрий Ставничий</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>

      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg1">
            <img class="slide__avatar" srcset="./img/slider/people1_2x.png 2x ,./img/slider/people1_3x.png 3x"
              src="./img/slider/people1.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Александра Селезнева</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>
      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg2">
            <img class="slide__avatar" srcset="./img/slider/people2_2x.png 2x ,./img/slider/people2_3x.png 3x"
              src="./img/slider/people2.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Виктор Кострицкий</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>
      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg3">
            <img class="slide__avatar" srcset="./img/slider/people3_2x.png 2x ,./img/slider/people3_3x.png 3x"
              src="./img/slider/people3.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Юрий Ставничий</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>

      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg1">
            <img class="slide__avatar" srcset="./img/slider/people1_2x.png 2x ,./img/slider/people1_3x.png 3x"
              src="./img/slider/people1.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Александра Селезнева</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>
      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg2">
            <img class="slide__avatar" srcset="./img/slider/people2_2x.png 2x ,./img/slider/people2_3x.png 3x"
              src="./img/slider/people2.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Виктор Кострицкий</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>
      <div class="slide__container">
        <div class="slide">
          <a class="slide__link" href="#"></a>
          <div class="slide__cover slide_bg3">
            <img class="slide__avatar" srcset="./img/slider/people3_2x.png 2x ,./img/slider/people3_3x.png 3x"
              src="./img/slider/people3.png" alt="feedback avatar">
          </div>
          <div class="slide__info">
            <div class="slide__title">Юрий Ставничий</div>
            <div class="slide__content">130 фотографий</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>