<section class="wr-intro">
  <div class="container">
    <div class="row flex-column align-items-center">
      <h1 class="main-title">Просто напечатать работу вашего любимого фотографа</h1>
      <p class="subtitle">Печатайте и получайте фотографии ваших любимых фотографов прямо в руки</p>
    </div>

    <div class="btns-container d-flex flex-column flex-sm-row align-items-center justify-content-center">
      <button type="button">Каталог фотографов</button>
      <button type="button">Как мы работаем</button>
    </div>

    <picture>
      <source srcset="./img/bg/bg-intro.webp" type="image/webp">
      <img src="./img/bg/bg-intro.png" alt="background image">
    </picture>
  </div>
</section>
