<section class="wr-signup">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="wr-form">
          <h2 class="main-title">Хочешь у нас разместиться?</h2>
          <form class="form" method="POST">
            <div class="form__item">
              <input class="form__area" type="text" required autocomplete="off" id="form-email">
              <label class="form__label" for="form-email" title="Ваша почта" data-title="Ваша почта">
            </div>
            <div class="btns-container">
              <button type="submit">
                Хочу разместиться
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="wr-signup__bg">
        <picture>
          <source srcset="./img/bg/bg-signup.webp 1x,
          ./img/bg/bg-signup_2x.webp 2x, ./img/bg/bg-signup_3x.webp 3x" type="image/webp">
          <img class="wr-signup__bg-image" srcset="./img/bg/bg-signup_2x.jpg 2x, ./img/bg/bg-signup_3x.jpg 3x" src="./img/bg/bg-signup.jpg" alt="background image">
        </picture>
      </div>
    </div>
  </div>
</section>