.search-block {
    transition: .4s;
    padding: 0;
    button {
        display: flex;
    }
    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
        color: #496ADC;
        line-height: 24px;
        margin: 0;
    }
    &:hover {
       opacity: .6;
    }
}
