@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyMed';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GilroySemiBold';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Gilroy';
    color: #000;
    background-color: #fff;
}

button {
    border: none;
    background-color: transparent;
}

button, a {
    &:focus {
        outline: none;
        opacity: .6;
        outline-width: 0;
    }
}

dl, ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    transition: .4s;
    padding: 0;
    &:hover {
        opacity: .6;
    }
}
@media all and (min-width: 320px) {
    .main-title {
        font-family: 'GilroySemiBold';
        font-size: 32px;
        line-height: 110%;
        text-align: center;
        max-width: 700px;
        padding: 0 10px;
    }
    .subtitle {
        font-family: 'GilroyMed';
        font-size: 18px;
        color: $primary-color;
        line-height: 32px;
        text-align: center;
        max-width: 700px;
        padding: 0 10px;
    }
    .content-title {
        font-family: 'GilroySemiBold';
        font-size: 24px;
        line-height: 32px;
    } 
    .btns-container {
        button {
            font-family: 'GilroyMed';
            font-size: 16px;
            color: #fff;
            height: 48px;
            background-color: #496ADC;
            border-radius: 8px;
            transition: .4s;
            flex-shrink: 0;
            width: 100%;
            padding: 0;
            &:hover {
                color: #496ADC;
                background-color: #fff;
                box-shadow: $primary-shadow;
            }
        }
    }
}
@media all and (min-width: 576px) {
    .btns-container {
        button {
            font-size: 18px;
            height: 64px;
        }
    }
}
@media all and (min-width: 992px) {
    .main-title {
        font-size: 48px;
    }
    .subtitle {
        font-size: 24px;
    }
}
