@media all and (min-width: 320px) {
    .wr-works {
        background-color: #FFF8EE;
        padding: 3.5rem 0 3.8rem 0;
        .main-title {
            margin-bottom: 20px;
        }
        .nav-tabs {
            width: 100%;
            border: none;
            margin-bottom: 40px;
            .nav-item {
                max-width: 233px;
                width: 100%;
                margin-bottom: 0;
            }
            .nav-link {
                font-family: 'GilroySemiBold';
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: $secondary-color;
                border: none;
                border-bottom: 1px solid rgba(0,0,0,.2);
                padding: 18px 0 19px 0;
                &.active {
                    color: #496ADC;
                    background-color: transparent;
                    border-bottom: 2px solid #496ADC;
                    padding: 18px 0;
                }
            }
        }
        .tab-content {
            width: 100%;
            padding: 0 15px;
            margin-bottom: 40px;
            li {
                max-width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
            p {
                font-family: 'GilroyMed';
                color: $primary-color;
                line-height: 24px;
                margin: 0;
            }
        }
        .content-title {
            margin-bottom: 5px;
        }
    }
}

@media all and (min-width: 576px) {
    .wr-works {
        .main-title {
            margin-bottom: 25px;
        }
    }
}

@media all and (min-width: 992px) {
    .wr-works {
        padding: 6.5rem 0 6.8rem 0;
        .nav-tabs {
            margin-bottom: 80px;
        }
        .tab-content {
            margin-bottom: 83px;
            li {
                max-width: 327px;
                margin-bottom: 0;
            }
        }
    }
}
